<div class="displayTable">
    <div class="displayTableCell">
      <div class="text-center ">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
      </div>
      <div>
          <input type="submit" class="btn btn-warning" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      <div>
        <p>
          Volver? <a class="link-body-emphasis" routerLink="/sign-in"> Sign in</a>
        </p>
      </div>
    </div>
  </div>