<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 px-5 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
      <img src="../../../assets/logoNoeTransparente.png" width="100" alt="LOGO">
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/dashboard" class="nav-link px-2 link-secondary"><i class="fa fa-dashboard"></i></a></li>
    <li><a routerLink="/home" class="nav-link px-2">Home</a></li>
    <li><a routerLink="/add" class="nav-link px-2">Add</a></li>
    <li><a routerLink="/tutorials" class="nav-link px-2">tutorials</a></li>
    <li><a routerLink="/dashboard" class="nav-link px-2">Dashboard</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a routerLink="/sign-in" class="btn btn-outline-primary me-2">Login</a>
    <button class="btn btn-outline-danger" (click)="salir()">
      Logout
    </button>
  </div>
</header>
