<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

</head>
<body>
    <main class="container">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
          <h6 class="display-4 fst-italic">Datos personales</h6>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-md-8">
          <article class="blog-post">
            <table  class="table table-dark table-sm">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo</th>
                  <th>Aprobado</th>
                  <th>Grupo</th>
                  <th>Carrera</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Alumno1</td>
                  <td>10</td>
                  <td>11</td>
                  <td>correo1@example.com</td>
                  <td>Si</td>
                  <td>Grupo 1</td>
                  <td>Carrera 1</td>
                  <td><a href="#" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a></td>
                  <td><a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</a></td>
                </tr>
                <tr>
                  <td>Alumno2</td>
                  <td>4</td>
                  <td>3</td>
                  <td>correo2@example.com</td>
                  <td>No</td>
                  <td>Grupo 2</td>
                  <td>Carrera 2</td>
                  <td><a href="#" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a></td>
                  <td><a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</a></td>
                </tr>
                <tr>
                  <td>Alumno3</td>
                  <td>7</td>
                  <td>9</td>
                  <td>correo3@example.com</td>
                  <td>Si</td>
                  <td>Grupo 3</td>
                  <td>Carrera 3</td>
                  <td><a href="#" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a></td>
                  <td><a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</a></td>
                </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </article>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8Yu0a6FqZzFLRraO8H57Jq9bsMtb2o6wAq2Exj2N6JZgt9sVoq6jJy6Msz" crossorigin="anonymous"></script>
</body>
</html>
