<div class="limiter animated fadeInLeft " >
  <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
          <div class="d-flex justify-content-center">
              <img src="/assets/login-icon.svg" alt="login-icon" style="height: 7rem" />
          </div>
          <form class="login100-form validate-form flex-sb flex-w">
              <span class="login100-form-title p-b-51"> Inicio de Sesión </span>


              <div class="input-group mt-4">
                  <div>
                      <input
                        type="text"
                        class="form-control mb-3"
                        placeholder="Username"
                        #userName
                        required
                      />
                  </div>
              </div>
              <div class="input-group mt-1">
                  <div>
                      <input
                        type="password"
                        class="form-control mb-3"
                        placeholder="Password"
                        #userPassword
                        required
                      />
                  </div>
              </div>
                  <input
                    type="button"
                    class="btn btn-dark w-100 mt-4 fw-semibold shadow-sm"
                    value="Log in"
                    (click)="authService.SignIn(userName.value, userPassword.value)"
                  />
              <div>
                <a class="card-link" routerLink="/forgot-password">Forgot Password?</a>
              </div>
          </form>
      </div>
  </div>
</div>
