
<!-- salon.component.html -->
<div class="container">
  <h1>Salón</h1>
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Aprobado</th>
        <th>Grupo</th>
        <th>Carrera</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios_del_grupo">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.aprobado }}</td>
        <td>{{ usuario.grupo }}</td>
        <td>{{ usuario.carrera }}</td>
      </tr>
    </tbody>
  </table>
</div>



    <!-- Contenido del pie de página -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"></a></li>
      </ul>
    </footer>
