<!-- home.component.html -->
<div class="container">
  <div class="row">
    <div class="animated fadeInUp">
      <h3 class="pb-4 mb-4 fst-italic">salón </h3>
      <div class="row mb-3 bg-dark-subtle p-3 rounded">
        <div class="col"><input type="radio" name="flexRadioDefault" id="flexRadioDefault" class="form-check-input mx-2" (click)="ngOnInit()">Default</div>
        <div class="col"><input type="radio" name="flexRadioDefault" id="flexRadioDefault" class="form-check-input mx-2" (click)="buscar('aprobado','aprobo')">Aprobado</div>
        <div class="col"><input type="radio" name="flexRadioDefault" id="flexRadioDefault" class="form-check-input mx-2" (click)="buscar('aprobado','reprobo')">Reprobado</div>
        <div class="col"><input type="radio" name="flexRadioDefault" id="flexRadioDefault" class="form-check-input mx-2" (click)="buscar('sexo','F')">Femenino</div>
        <div class="col"><input type="radio" name="flexRadioDefault" id="flexRadioDefault" class="form-check-input mx-2" (click)="buscar('sexo','M')">Masculino</div>
      </div>
      <article class="blog-post">
        <table class="table table-dark">
          <!-- Contenido de la tabla -->
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Aprobado</th>
              <th>Grupo</th>
              <th>Carrera</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let al of usuarios_del_grupo">
              <td>{{ al.nombre }}</td>
              <td>{{ al.apellido }}</td>
              <td *ngIf="al.aprobado=='aprobo'">Aprobado</td>
              <td *ngIf="al.aprobado=='reprobo'">Reprobado</td>
              <td>{{ al.grupo }}</td>
              <td>{{ al.carrera }}</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</div>
